<div class="container">
  <div class="row" style="margin-top: 3%;">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Utilisateurs"> 
          <app-users></app-users>
      </mat-tab>
      <mat-tab label="Profils"> 
          <app-profils></app-profils>
      </mat-tab>
      <mat-tab label="Structures"> 
        <app-structures></app-structures>
      </mat-tab>
    </mat-tab-group>
  </div> 
</div>

<!-- 
  <div class="row" style>
    <button mat-button (click)="openAddTeamDialog()" class="bouton">
      <mat-icon>add</mat-icon>
      Ajouter
    </button>
  </div> 
-->
